

 <body>
        <h2> Welcome, to 99 cats <%= @user%> </h2>
    <p>
      Your username is: <%= @user %>.<br />
    </p>
    <p>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
